.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageControls,
.messageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15vmax;
  background-color: white;
}

.messageControls {
  border-radius: 0.5vmax;
  height: 10vmax;
  box-shadow: 0.2vmax 0.2vmax 0 0.2vmax salmon;
}

.messageForm > input {
  font-size: 1.2vmax;
  outline-color: salmon;
}

.messageControls > button,
.messageForm > button {
  margin-top: 1vmax;
  color: white;
  background-color: seagreen;
  box-shadow: 0.1vmax 0.1vmax 0 0.05vmax salmon;
  padding: 0.5vmax;
  border: none;
  border-radius: 0.5vh;
  font-weight: bold;
  cursor: pointer;
}
